@import './media.scss';

/* 页面宽度小于768px */
@media screen and (max-width: $sm) {
	// Breadcrumb 面包屑
	.home-main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .home-main-left {
      width: 100% !important;
    }
    .home-main-right {
      width: 100% !important;
    }
    .home-main-right-Hot {
      margin-bottom: 100px;
    }
  }
  .hone-account-infmation {
    .hone-account-infmation-user {
      font-size: 14px !important;
      font-weight: normal !important;
    }
  }

  .home-main-left-carsoul {
    height: 200px;
    .el-carousel__container {
      height: 200px;

      .carousel-title-copyright {
        left: 80%;
        top: 80%;
      }
    }
  }
}

/* 页面宽度小于1000px */
@media screen and (max-width: 1000px) {
	.el-container {
		flex-direction: row !important;
	}
}
