@import './media.scss';

/* 页面宽度小于768px */
@media screen and (max-width: $sm) {
	.personal-saying-col {
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 0;
            height: 100px;
		}
        .personal-saying-auto {
            align-items: flex-start !important;
            top: 10% !important;
        }
	}
}

@media screen and (max-width: $md) {
	.personal-saying-col {
		.personal-saying {
			height: 100px !important;
		}
	}
}


/* 页面宽度小于1200x */
@media screen and (max-width: $lg) {
	.personal-saying-col {
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}