// 头部宽度
$p-header-width: 100%;
// 头部高度
$p-header-height: 70px;
// 面包屑高度（同时也是侧边栏Logo区域的高度）
$p-breadcrumb-height: 50px;
// 侧边栏宽度
$p-main-sidebar-width: 60px;
$p-sub-sidebar-width: 220px;
$p-sidebar-width: var(--real-sidebar-width);