$themes: (
    default: (
        // 应用背景色
        p-app-bg: #fff,
        // 主区域背景色
        p-main-bg: #f5f7f9,

        // 头部背景色
        p-header-bg: #736477,
        // 头部导航文字颜色
        p-header-menu-color: #fff,
        // 头部导航选中颜色
        p-header-menu-active-bg: lighten($p-header-bg, 10),


        // 主侧边栏背景色
        p-main-sidebar-bg: #736477,
        // 主侧边栏文字颜色
        p-main-sidebar-menu-color: #fff,
        // 主侧边栏菜单选中背景色
        p-main-sidebar-menu-active-bg: lighten($p-main-sidebar-bg, 10),

        // 次侧边栏背景色
        p-sub-sidebar-bg: #ddcdcd,
        // 次侧边栏菜单文字颜色
        p-sub-sidebar-menu-color: #89768f,
        // 次侧边栏菜单文字选中颜色
        p-sub-sidebar-menu-active-color: darken($p-sub-sidebar-menu-color, 30),
        // 次侧边栏菜单选中背景色
        p-sub-sidebar-menu-active-bg: #b5a5a5
    ),
    vue-cli: ()
)