@media screen and (max-width: 992px) {
    $width: 240px;
    //登录页面
    .login-left {
        display: none !important;
    }
    .login-logo {
        padding-top: 30px !important;
        margin-left: -30px;
    }
    .login-weaper{
        margin: 0 auto;
        width: 96% !important;
    }
    .login-border {
        border-radius: 5px;
        padding: 40px;
        margin: 0 auto;
        float: none !important;
        width: 100% !important;
    }
    .login-main {
        width: 100% !important;
    }
    
}